.card {
    margin: 50px;
}
p{
    color: #000 !important;
}
.heading{
    text-align: center;
    
    font-weight: 100px;
    color: rgb(14, 74, 60);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.sub-tit{
    text-align: center;
    font-weight: 100px;
    color: rgb(108, 16, 16);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.btn{
    align-content: center !important;
    text-align: center !important;
    margin-left: 40% !important;
    background-color: rgb(213, 122, 247);
}

